---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

$text-color: #000;
$link-color: #777;
$boxed-color: #f0f0f0;


@font-face {
  font-family: 'Alegreya';
  font-style: normal;
  font-weight: 300;
  src: url(/assets/fonts/alegreya.ttf) format('truetype');
}

@font-face {
  font-family: 'MrDeHaviland';
  font-style: cursiva;
  font-weight: 300;
  src: url(/assets/fonts/mr_de_haviland.ttf) format('truetype');
}

a {
    color: $link-color;
    text-decoration: none;

    &:visited {
        color: darken($link-color, 15%);
    }
    &:hover {
        color: darken($link-color, 5%);
        text-decoration: underline;
    }
}


.clearfix {
    clear: both;
}

$arrow-size: .8em;
$arrow-margin-correction: .6em;

#plays-arrow {
    display: inline-block;
    height: 0;
    font-size: 35%;
    margin-right: .5em;
    text-decoration: none;

    margin-left: $arrow-margin-correction;
    border-top: $arrow-size solid transparent;
    border-bottom: $arrow-size solid transparent;
    border-left: $arrow-size solid $link-color;
}

#open-plays:hover #plays-arrow {
    border-left: $arrow-size solid transparent;
    border-right: $arrow-size solid transparent;
    border-top: $arrow-size solid $link-color;
}


body {
    padding: 0 2em 0 2em;
}

img {
    width: 100%;
}

abbr {
    color: $link-color;
    text-decoration: none;
    border: none !important;
}

#header {
    font-family: "Alegreya";
    font-size: 18px;
    margin: 2em 0 1em 0;

    & h1 {
        margin: 0;
        padding: 0;
    }

    & nav {
        margin: 0;
        padding: 0;
        text-align: right;
        z-index: 99;

        & a:focus {
            outline: none;
        }

        & ul {
            margin: 0;
            font-size: 15pt;
        }

        & li {
            line-height: 200%;
            display: inline-block;
            padding-left: 1em;
        }

        & #plays {
            right: 0;
            display: none;
            padding: 0;
            width: 100%;
        }

        & #open-plays:hover {
            & #plays {
                display: block;
            }
        }

        & #plays ul {
            padding: 0;
            position: absolute;
        }

        & #plays li {
            padding: 0 .5em .5em .5em;
            line-height: 100%;
            list-style-type: square;
            display: block;
            background: #ffffff;
            text-align: left;
        }
    }
}

#header::after {
    display: block;
    content: "";
    margin-top: 4em;
    height: 1px;
    width: 100%;
    border-bottom: 1px solid lighten($link-color, 15%);
    box-shadow: 1px 0px 1px 0px lighten($link-color, 15%);
}

main {
    margin: 3em 0 3em 0;
    min-height: 90vh !important;

    & nav {
        padding: 0 !important;
        font-family: "Alegreya";
        font-size: 1.2em;

        @media (min-width: 767px) {
            position: fixed !important;
            & ul {
                text-align: right;
                border-right: 1px solid lighten($link-color, 35%);
                height: 50vh;
                padding: 0 3em 2em 2em;
                margin-right: 3em;
            }
        }

        & li {
            list-style: none;
            padding: .3em;
            &.active {
              background-color: #eeeeee;
              border-radius: .4em;
            }
        }
    }

    & dl { margin: 2em 0 2em 0;
    }

    & dt {
        margin-top: 1em;
    }
}

#welcome {
    h1, h2, h3, h4, h5, h6 {
        text-align: center;
    }
}

#analyses .play {
    display: inline-block;
    width: 30%;
    text-align: center;
    vertical-align: top;
    padding: 1em;
    margin: 0 1% 3em 1%;

    &:hover {
        text-decoration: none;
        background-color: $boxed-color;
    }

    & h2 {
        margin: 0;
    }

    & summary {
        text-align: justify;
    }
}

article {
    & header {
        width: 100%;
        text-align: center;

        & h2 {
            margin: 0 0 1em 0;
            font-size: 3em;
       }
    }

    & .content {
        font-size: 1.1em;
        text-align: justify;

        & h1 {
            margin: 2em 0 1em 0;
	    text-align: center;
	    text-decoration: underline
        }

        & h1, & h2, & h3, & h4, & h5, & h6 {
            clear: both;
        }

        & blockquote.highlight {
            font-family: "MrDeHaviland";
            font-size: 2em;
            position: relative;
            color: $text-color;
            background: $boxed-color;
            border-left: 10px solid #ccc;
            margin: 1em 0 1em 0;
            padding: 0;
            quotes: "\201C""\201D""\2018""\2019";
        }

        & blockquote.highlight p {
            font-size: 2em;
            width: 100%;
            display: inline-block;
            text-align: center;
        }

        & blockquote.highlight:before, & blockquote.highlight:after {
            position: absolute;
            bottom: 0em;
            color: #ccc;
            font-size: 4em;
            line-height: .5em;
        }

        & blockquote.highlight:before {
            content: open-quote;
            left: 0;
        }

        & blockquote.highlight:after {
            content: close-quote;
            right: .1em;
        }

        & dl {
            margin: 2em 0 2em 0;
        }

        & dt {
            margin-top: 1em;
        }

        & figure {
            text-align: center;
            width: 80%;
            margin: 2em 10% 2em 10%;
            padding: 3%;
            border-top: 1px solid lighten($link-color, 35%);
            border-bottom: 1px solid lighten($link-color, 35%);

            & img {
                width: 100%;
            }

            & blockquote {
                text-align: left;
                display: inline-block;
            }

            & figcaption {
                margin: 0 0 1em 0;
            }
        }
    }
}

footer {
    text-align: justify;
    margin-top: 3em;
    padding: 1em 0 1em 0;
    border-top: 1px solid lighten($link-color, 15%);
    opacity: .4;

    &:hover {
        opacity: 1;
    }

    & #license-logo img {
        width: 88px;
        display: table;
        margin: 0 auto 0 auto;
    }
}

.center {
    text-align: center;
}

