---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

$text-color: #000;
$link-color: #777;

// Using media queries with like this:
// @include media-query($palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}


@font-face {
  font-family: 'Alegreya';
  font-style: normal;
  font-weight: 300;
  src: url(/assets/fonts/alegreya.ttf) format('truetype');
}

a {
    color: $link-color;
    text-decoration: none;

    &:visited {
        color: darken($link-color, 15%);
    }
    &:hover {
        color: darken($link-color, 5%);
        text-decoration: underline;
    }
}


body {
    padding: 0 2em 0 2em;
}

.clearfix {
    clear: both;
}

$arrow-size: .7em;
$arrow-margin-correction: .6em;

.arrow {
    display: inline-block;
    height: 0;
    font-size: 35%;
    margin-right: .5em;
    text-decoration: none;
}

.arrow-right {
    @extend .arrow;
    margin-left: $arrow-margin-correction;
    border-top: $arrow-size solid transparent;
    border-bottom: $arrow-size solid transparent;
    border-left: $arrow-size solid $link-color;
}

.arrow-down {
    @extend .arrow;
    border-left: $arrow-size solid transparent;
    border-right: $arrow-size solid transparent;
    border-top: $arrow-size solid $link-color;
}


#header {
    font-family: "Alegreya";
    font-size: 18px;
    margin: 2em 0 2em 0;

    & h1 {
        margin: 0;
        padding: 0;
    }

    & nav {
        margin: 0;
        padding: 0;
        text-align: right;

        & a:focus {
            outline: none;
        }

        & ul {
            margin: 0;
        }

        & li {
            line-height: 200%;
            display: inline-block;
            padding-left: 1em;
        }

        & #plays {
            right: 0;
            display: none;
            padding: 0;
            width: 100%;
        }

        & #plays.open {
            display: block;
        }

        & #plays li {
            line-height: 100%;
            list-style-type: square;
        }
    }
}

#header::after {
    display: block;
    content: "";
    margin-top: 4em;
    height: 1px;
    width: 100%;
    border-bottom: 1px solid lighten($link-color, 15%);
    box-shadow: 1px 0px 1px 0px lighten($link-color, 15%);
}

main {
    margin: 3em 0 3em 0;
}

article {
    & header {
        width: 100%;
        text-align: center;

        & h2 {
            margin: 0 0 2em 0;
        }
    }

    & h1 {
        margin: 1em 0 1em 0;
    }

    & h1, & h2, & h3, & h4, & h5, & h6 {
        clear: both;
    }

    & blockquote {
        position: relative;
        font-size: 2em;
        color: #FF0000;
        background: #f9f9f9;
        border-left: 10px solid #ccc;
        margin: 1.5em 10px;
        padding: 0.5em 10px;
        quotes: "\201C""\201D""\2018""\2019";
    }

    & blockquote:before, & blockquote:after {
        position: absolute;
        bottom: 0;
        color: #ccc;
        font-size: 4em;
        line-height: .5em;
    }

    & blockquote:before {
        content: open-quote;
        left: .1em;
    }

    & blockquote:after {
        content: close-quote;
        right: .1em;
    }

    & blockquote p {
        width: 100%;
        display: inline-block;
        text-align: center;
    }

    & img {
        width: 100%;
        margin: 2em 0 2em 0;
        padding: 0 20% 0 20%;
    }

    dl {
        margin: 2em 0 2em 0;
    }

    dt {
        margin-top: 1em;
    }
}
