<!DOCTYPE html>
<html>
  <head>
    <title>Language Of Shakespeare's Plays</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/css/main.css" rel="stylesheet">
  </head>
  <body>
    <header id="header" class="col-md-12">
      <a href="/">
        <h1 class="col-md-6">Language Of Shakespeare's Plays</h1>
      </a>

      <nav class="col-md-6">
        <ul>
          <li><a href="/">Presentation</a></li>
          <li id="open-plays"><a href="#">Plays</a></li>
          <li><a href="/tools/">Tools</a></li>
          <li><a href="/research/">Research</a></li>
          <li><a href="/contributors/">Contributors</a></li>
          <div id="plays">
            <ul>
              {% for analysis in site.analyses %}
              <li><a href="{{ analysis.url }}">{{ analysis.title }}</a></li>
              {% endfor %}
            </ul>
          </div>
        </ul>
      </nav>
    </header>

    <main class="col-md-12">
      {{ content }}
    </main>

    <footer>
    </footer>
    <script charset="utf-8">
      document.getElementById("open-plays").onmouseover = function(e) {
        document.getElementById("plays").classList.add("open");
      };
    </script>
  </body>
</html>
