<!DOCTYPE html>
<html>
  <head>
    <title>Language of Shakespeare's Plays</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/css/main.css" rel="stylesheet">
  </head>
  <body>
    <header id="header" class="col-md-12">
      <a href="/">
        <h1 class="col-md-5">Language of Shakespeare's Plays</h1>
      </a>

      <nav class="col-md-7">
        <ul>
          <li><a href="/">Home</a></li>
          <!--<li><a href="/posts/">Articles</a></li>-->
          <li id="open-plays">
            <a href="/analyses/">
              <div id="plays-arrow"></div>
              Plays
            </a>
            <div id="plays">
              <ul>
                {% for analysis in site.analyses %}
                  <li><a href="{{ analysis.url }}">{{ analysis.title }}</a></li>
                {% endfor %}
              </ul>
            </div>
          </li>
          <li><a href="/tools/">Tools</a></li>
          <li><a href="/word_clouds/">Word Clouds</a></li>
          <li><a href="/about/">About us</a></li>
        </ul>
      </nav>
    </header>

    <main class="col-md-12">
      {{ content }}
    </main>

    <footer class="col-md-12 clearfix">
      <div id="license-text" class="col-md-5">
        <span xmlns:dct="http://purl.org/dc/terms/" href="http://purl.org/dc/dcmitype/Text" property="dct:title" rel="dct:type">
          Language of Shakespeare's Plays
        </span>
        by
        <a xmlns:cc="http://creativecommons.org/ns#" href="http://losp.us/contributors/" property="cc:attributionName" rel="cc:attributionURL">
          University of Strathclyde Students
        </a>
        is licensed under a
        <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">
          Creative Commons Attribution-ShareAlike 4.0 International License
        </a>
        .
      </div>
      <a id="license-logo" class="col-md-2" rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">
        <img alt="Creative Commons License" src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png" />
      </a>
      <div class="col-md-2">
        <p>Logo kindly created by <a href="http://www.tinysketchbook.com/">www.tinysketchbook.com</a></p>
      </div>
      <div class="col-md-offset-1 col-md-2">
        <p>For any enquiry, please contact
          <a href="mailto:enquiries@losp.us">enquiries@losp.us</a>
        </p>
      </div>
    </footer>

    <script charset="utf-8">
      document.getElementById("open-plays").onclick = function(e) {
        document.getElementById("plays").classList.toggle("open");
        document.getElementById("plays-arrow").classList.toggle("arrow-right");
        document.getElementById("plays-arrow").classList.toggle("arrow-down");
      };
    </script>
  </body>
</html>
