<!DOCTYPE html>
<html>
  <head>
    <title>Language Of Shakespeare Plays</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/css/main.css" rel="stylesheet">
    <script charset="utf-8" src="/assets/js/bootstrap.min.js"></script>
  </head>
  <body>
    <header id="header" class="col-md-12">
      <a href="/">
        <h1 class="col-md-6">Language Of Shakespeare Plays</h1>
      </a>

      <nav class="col-md-6">
        <ul>
          <li><a href="/">Presentation</a></li>
          <li><a href="#">Plays</a>
            <ul>
              {% for analysis in site.analyses %}
              <li><a href="{{ analysis.url }}">{{ analysis.title }}</a></li>
              {% endfor %}
            </ul>
          </li>
          <li><a href="/tools/">Tools</a></li>
          <li><a href="/research/">Research</a></li>
          <li><a href="/tools/">Contributors</a></li>
        </ul>
      </nav>
    </header>

    <main class="col-md-12">
      {{ content }}
    </main>

    <footer>
    </footer>
  </body>
</html>
